<% include commons/header.ejs %>

    <div class="container theme-showcase" role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>Hey !</h1>
        <p>This website has been developed by some (french) engineers.</p>
        <p>What's behind this project ? 
        <ul>
          <li><i>Node.js</i> for the Backend server</li>
          <li><i>Express.js, the framework used for this app</i></li>
          <li>and <b>Together.js</b> for the live concurrent editing system. </li>
        </ul>
        <p>We hope you enjoyed it and feel free to check the <a href="https://github.com/PaulSec/Social-Markdown">GitHub</a> project</p>
        <br />
        <p>Cheers and see you soon !</p>
      </div>
    </div> <!-- /container -->

<% include commons/footer.ejs %>