<% include header.ejs %>

    <div class="container theme-showcase" role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>Hey !</h1>
        <p>Want to be in touch with us ? </p>
        <p>Feel free to discuss with find us, here are our twitters : <a href="https://twitter.com/paulwebsec">@PaulWebSec, @Someone</a> </p>
        <p>We hope you enjoyed it and feel free to check the <a href="https://github.com/PaulSec/Social-Markdown">GitHub</a> project</p>
        <br />
        <p>Cheers and see you soon !</p>
      </div>
    </div> <!-- /container -->

<% include footer.ejs %>