<% include commons/header.ejs %>

    <div class="container theme-showcase" role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>Hey !</h1>
        <p>Want to be in touch with us ? </p>
        <p>
          Feel free to discuss with find us, here are our Github accounts : <a href="https://github.com/marienfressinaud">Marien</a> and <a href="https://github.com/PaulSec">Paul</a>
        </p>
        <p>We hope you enjoyed it and feel free to check the <a href="https://github.com/PaulSec/Social-Markdown">GitHub</a> project</p>
        <br />
        <p>Cheers and see you soon !</p>
      </div>
    </div> <!-- /container -->

<% include commons/footer.ejs %>