<% include doc/header.ejs %>

    <section class="document" style="margin-top:50px">
        <textarea id="doc-frame" placeholder="" style="width: 80%; height: 300px;">
        </textarea>
    </section>
    <div id="data" style="visibility:hidden;">
        <%- content %>
    </div>    
<% include doc/footer.ejs %>