<% include doc/header.ejs %>

    <section class="document" style="margin-top:50px">
        <textarea id="doc-frame" placeholder="" style="width: 80%; height: 300px;">
<%- content %>
        </textarea>
    </section>
<% include doc/footer.ejs %>