<% include document/header.ejs %>

    <div class="container theme-showcase" role="main">

        <section>
            <div id="editor">
<%- content %>
            </div>
            <div id="result">
            </div>
        </section>
    </div>

    <script src="/js/ace/ace.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/marked.js" type="text/javascript" charset="utf-8"></script>
    <script>
        var editor = ace.edit("editor");
        editor.setTheme("ace/theme/monokai");
        editor.getSession().setMode("ace/mode/markdown");
        editor.setOptions({
             maxLines: Infinity
        });
        // When changes on the editor
        editor.on("change", function(e) {
            var code = editor.getSession().getValue();
            resMarked = marked(code);
            $("#result").html(resMarked);
        });
    </script>
<% include document/footer.ejs %>