<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- <link rel="shortcut icon" href="../../assets/ico/favicon.ico"> -->

    <title>Social Markdown Website</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/theme.css" rel="stylesheet">
    <style type="text/css" media="screen">
    div#editor {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width:700px;
        margin-top: 60px;
        margin-left:10px;      
        margin-bottom: 10px;
    }
    div#result {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width:700px;
        margin-top: 60px;
        margin-right:10px;      
        margin-left: 730px;
        margin-bottom: 10px;
        background-color: #E8E8E8;
    }

    button#start-togetherjs {
        margin-top:10px;
    }
    </style>    
  </head>

  <body role="document">

    <!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Social Markdown</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><button class="btn btn-sm btn-success" id="start-togetherjs">Start TogetherJS</button></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>