<% include commons/header.ejs %>

    <div class="container theme-showcase" role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>Hey, there !</h1>
        <p><b>Social Markdown</b> is a website allowing you to create your own Markdown documents, and share/edit them online with your collaborators. </p>
        <p>Want to give it a try ?</p>
        <p><a href="/markdown/new" class="btn btn-primary btn-lg" role="button">Markdown</a>
      </div>
    </div> <!-- /container -->

<% include commons/footer.ejs %>