<% include markdown/header.ejs %>

    <section class="document">
        <div class="part" id="editor">
<%- content %>
        </div><!--
        --><div class="part" id="result">
        </div>
    </section>

    <script src="/js/ace/ace.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/marked.js" type="text/javascript" charset="utf-8"></script>
    <script>
        var editor = ace.edit("editor");
        editor.setTheme("ace/theme/monokai");
        editor.getSession().setMode("ace/mode/markdown");
        editor.getSession().setUseWrapMode(true);
        editor.setShowPrintMargin(false);

        // When changes on the editor
        editor.on("change", function(e) {
            var code = editor.getSession().getValue();
            resMarked = marked(code);
            $("#result").html(resMarked);
        });
    </script>
<% include markdown/footer.ejs %>