body {
    padding: 51px 0 0;
}

input#aes-key,
button#start-togetherjs,
button#save-document {
    margin: 10px 5px 0;
}
iframe#fork {
    margin: 15px 0 0;
}

.document {
    display: block;
}
.document .part {
    position: fixed;
    top: 51px; bottom: 0;
    overflow: auto;
}
#editor.part {
    left: 0; right: 50%;
    background: #272822;
    color: #F8F8F8;
}
#result.part {
    left: 50%; right: 0;
    padding: 20px;
    background: #F8F8F8;
    color: #272822;
}

#result.part a {
    color: #3498db;
}

#aes-key {
    color: #000099;
}