    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/js/jquery.min.js"></script>    
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/docs.min.js"></script>
    <script src="/js/utils.js"></script>
    <script src="/js/aes.js"></script>
    <script src="/js/aes-utils.js"></script>
    <script src="https://togetherjs.com/togetherjs-min.js"></script>
    <script src="/js/together-utils.js"></script>
    <script>
        $(document).ready(function() {
            if (editor != null && editor != undefined) {
                var code = editor.getSession().getValue();
                resMarked = marked(code);
                $("#result").html(resMarked);
            }
        });
    </script>    
  </body>
</html>
