    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/js/jquery.min.js"></script>    
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/nicEdit/nicEdit.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="https://togetherjs.com/togetherjs-min.js"></script>
    <script>
        $(document).ready(function() {
            bkLib.onDomLoaded(function() { 
                nicEditors.allTextAreas() 
                var content = $("#data").html();
                var editor = nicEditors.findEditor('doc-frame');
                editor.setContent(content);
                $("#data").remove();
            });
        });

        $("#start-togetherjs").on('click', function() {
            var textButton = $("#start-togetherjs").text();
            if (textButton == "Edit live") {
                $("#start-togetherjs").text("Stop live editing");
                $("#start-togetherjs").attr('class', 'btn btn-sm btn-warning');
            } else {
                $("#start-togetherjs").text("Edit live");
                $("#start-togetherjs").attr('class', 'btn btn-sm btn-success');
            }
            TogetherJS();
        });

        $("#save-document").on('click', function() {
            var url = document.URL; 
            var idDocument = url.match(/[a-z0-9]{48}/g);
            var editor = nicEditors.findEditor('doc-frame');
            var content = editor.getContent();

            idDocument = idDocument[0];
            $.post("/saveDocument", {id: idDocument, content:content});
        });
    </script>    
  </body>
</html>
