<h2>Welcome on Social Markdown's README !</h2>

<p>First.. </p>

<blockquote>
    <p><em>Wanna try it ?</em></p>
</blockquote>

<p>A demo website will be available in few days. </p>
<p>You'll be able to try it and feel free to give us your feedback. <strong>We need it !</strong></p>
<p>Create a new doc, and <strong>Click</strong> on <strong>"Edit Live"</strong>.</p>
<p><em>Yes it's that easy.</em></p>

<blockquote>
    <p><em>Ok, so.. What is it ?</em></p>
</blockquote>

<p>Social Markdown is a project allowing you live concurrent editing of your Markdown files. 
It can be either your README.md files from your Github projects, but also your Wiki, .. </p>
<p>We needed a platform allowing us to edit those files with lot of collaborators. </p>
<p><em>So, we did it !</em></p>

<blockquote>
    <p><em>How did you do this magic ?</em></p>
</blockquote>

<p>Well, this website is full of new cool (and less new) stuffs :</p>
<ul>
    <li>Bootstrap (quite old now, okay..) </li>
    <li>Node.js (Mmh.. okay)</li>
    <li>Ace editor (Oh. nice)</li>
    <li>And to allow you to edit your files : <strong>Together.js</strong> !</li>
</ul>
<p>Together.js allows you to edit your page with your friends. 
Those guys did some really great job and at the moment, the script is dynamically loaded from their servers. </p>
<p>If you want more information about the technology behind, here is their (awesome) documentation :</p>
<p><a href="https://togetherjs.com/docs/">Together.js Documentation</a></p>

<blockquote>
    <p>Great, but.. I want to run the project on my machine !</p>
</blockquote>

<p>This is really easy, follow the steps : </p>
<ul>
    <li>Install mongodb </li>
</ul>
<p>On Ubuntu (depending on your OS) : </p>
<p><code>sudo aptitude install mongodb</code></p>
<ul>
    <li>Clone the project and go in the project's folder </li>
</ul>
<p><code>git clone git@github.com:PaulSec/Social-Markdown.git</code>
And <code>cd Social-Markdown</code></p>
<ul>
    <li>Install all the dependencies </li>
</ul>
<p>(Guessing you already have <a href="http://nodejs.org/"><em>node</em></a> and <a href="http://nodejs.org/"><em>npm</em></a> on your machine)</p>
<p><code>npm install</code></p>
<p>Then, if you didn't have any critic/cosmic/extraordinary error, you can launch the project !</p>
<p><code>node app</code> or <code>node app.js</code> <em>(it's the same)</em></p>

<h3 id="license">License</h3>
<p>This project has been released under MIT License. </p>
<p>Feel free to fork it, ask/add new features.
This has been developed by <a href="https://github.com/marienfressinaud">Marien</a> and I <a href="https://github.com/PaulSec">Paul</a></p>
<p>Cheers !</p>